
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> So you wanna add a product manualy! </h1>
    <h3> add something even Digikala does not have it :) </h3>
    <br>
    <form class="" action="/addproduct" method="post">
      <select name="supplyCategory">
        <option value="1">کالای دیجیتال</option>
        <option value="2">آرایشی و بهداشتی و سلامت</option>
        <option value="3">خودرو و ابزار و اداری</option>
        <option value="4">مد و پوشاک</option>
        <option value="5">خانه و آشپزخانه</option>
        <option value="6">کتاب لوازم تحریر و هنر</option>
        <option value="7">اسباب بازی و کودک و نوزاد</option>
        <option value="8">ورزش و سفر</option>
      </select><br>
      <input type="text" name="name" value="" placeholder="title"><br>
      <input type="text" name="brand" value="" placeholder="brandName"><br>
      <input type="text" name="category" value="" placeholder="categoryName"><br>
      <input type="text" name="price" value="" placeholder="price"><br>
      <input type="text" name="image" value="" placeholder="image url"><br>
      <br>
      <input type="submit" name="add product" value="">
    </form>
  </body>
</html>
