<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3> <%= response %> </h3>
    <a href="/"> back to the main page</a>
  </body>
</html>
