<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Search in products </h1>
    <br>
    <form class="" action="/searchInProductsresult" method="post">
      <select name="supplyCategory">
        <option value="1">کالای دیجیتال</option>
        <option value="2">آرایشی و بهداشتی و سلامت</option>
        <option value="3">خودرو و ابزار و اداری</option>
        <option value="4">مد و پوشاک</option>
        <option value="5">خانه و آشپزخانه</option>
        <option value="6">کتاب لوازم تحریر و هنر</option>
        <option value="7">اسباب بازی و کودک و نوزاد</option>
        <option value="8">ورزش و سفر</option>
      </select>
      <br><br>
      <input type="text" name="name" value="" placeholder="title"><br>
      <br>
      <input type="text" name="brand" value="" placeholder="brand"><br>
      <br>
      <input type="text" name="category" value="" placeholder="category"><br>
      <br>
      <input type="text" name="greaterThat" value="" placeholder="price should be greater than ..."><br>
      <br>
      <input type="text" name="lessthan" value="" placeholder="price should be less than ..."><br>
      <br>
      <input type="submit" name="add product" value="Search Now!">
    </form>
  </body>
</html>
